@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: url("..//fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src: url("..//fonts/inter-900.woff2") format("woff2");
}

.body-slid-pink {
  background-color: #feafc3;
}

body {
  min-width: 1366px;
  margin: 0;
  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}