@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: url("..//fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src: url("..//fonts/inter-900.woff2") format("woff2");
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-slid-pink {
  background-color: #feafc3;
}

body {
  min-width: 1366px;
  margin: 0;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

/* header */

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1170px;
}

.navigation-logo {
  margin-top: 24px;
  margin-right: 16px;
}

.navigation-logo:hover {
  opacity: 0.7;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus {
  outline: 2px solid #2d3440;
  outline-offset: 3px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
}

.navigation-list-site {
  margin-right: auto;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border-radius: 30px;
}

.navigation-list-user {
  width: 431px;
}

.navigation-item-user:not(:last-child) {
  margin-right: 16px;
}

.navigation-link-phone {
  padding: 6px 0;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.navigation-button {
  margin: 0;
  padding: 0;
  height: 32px;
  border: none;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  background-repeat: no-repeat;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.navigation-button-search {
  width: 32px;
  border-radius: 27px;
  background-image: url(../images/search.svg);
  background-position: center;
}

.navigation-button-enter {
  width: 88px;
  border-radius: 30px;
  padding: 6px 16px 6px 38px;
  background-image: url(../images/enter.svg);
  background-position: 16px;
}

.navigation-button-basket {
  width: 115px;
  border-radius: 30px;
  padding: 6px 16px 6px 38px;
  background-image: url(../images/cart.svg);
  background-position: 16px;
}