@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: url("..//fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src: url("..//fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src: url("..//fonts/inter-900.woff2") format("woff2");
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-slid-pink {
  background-color: #feafc3;
}

body {
  min-width: 1366px;
  margin: 0;

  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

/* header */

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1170px;
}

.navigation-logo {
  padding-top: 24px;
}

.navigation-site-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 400px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-site-link {
  text-decoration: none;
  color: #203440;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}